<div class="col-md-6">
  <div class="card">
    <img src="./assets/images/1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="post-category">music</h3>
      <h2 class="post-title"><a href="#">Post1</a></h2>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis commodi animi sunt
        iusto fugit repudiandae ipsum, temporibus reprehenderit pariatur earum eligendi similique libero, in et,
        voluptatibus placeat quo repellat! Pariatur. Some quick example text to build on the card title and make
        up the bulk of the card's
        content.</p>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="card">
    <img src="./assets/images/2.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="post-category">music</h3>
      <h2 class="post-title"><a href="#">Post2</a></h2>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, voluptas?
        Reprehenderit odio ea reiciendis laudantium corporis impedit ad ullam, delectus necessitatibus repellat
        nam itaque qui facilis dolore temporibus omnis totam. Some quick example text to build on the card title
        and make up the bulk of the card's
        content.</p>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="card">
    <img src="./assets/images/3.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="post-category">photodiary</h3>
      <h2 class="post-title"><a href="#">Post3</a></h2>

      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente ducimus, culpa
        saepe minus facilis nobis corrupti voluptates veritatis odit autem expedita nisi repellat? Rem dolore
        temporibus perspiciatis! Nulla, sequi dolore? Some quick example text to build on the card title and
        make up the bulk of the card's
        content.</p>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="card">
    <img src="./assets/images/4.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="post-category">photodiary</h3>
      <h2 class="post-title"><a href="#">Post4</a></h2>

      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim perspiciatis magni
        dolorem harum vel temporibus fugiat quidem ad ducimus a accusantium delectus, accusamus in. Totam
        tenetur debitis ut corporis quibusdam. Some quick example text to build on the card title and make up
        the bulk of the card's
        content.</p>
    </div>
  </div>
</div>